<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Anatomy of the Thyroid</h2>
                <hr class="light">
                <p class="text-faded">The thyroid is a gland that has the shape of a butterfly and is located at the front and base of the neck. It is a vital hormone gland and it plays a major role in our metabolism, regulation of body temperature, heart rate, blood pressure, and growth and development of the human body. It does all of this by releasing a steady amount of thyroid hormones into the bloodstream.</p>

                <!--How to make a button: <a href="#" class="btn btn-default btn-xl">Get Started!</a>-->

                <h2 class="section-heading">What are thyroid diseases or disorders?</h2>
                <hr class="light">
                <p class="text-faded">Thyroid diseases are basically any dysfunction occurring in the thyroid gland. Thyroid diseases are common problems that can cause many symptoms like nervousness, fast heart rate, unintentional weight loss, and more. According to https://www.thyroid.org, “An estimated 20 million Americans have some form of thyroid disease and about 60% of those with thyroid disease are unaware of this condition. Women are also more likely to have a thyroid disease.The bad news is that the causes of thyroid problems are largely unknown.</p>
            </div>
        </div>
    </div>
</section>
