<section id="contact">
    <div class="container">


        <div class="row">
            <div class="text-center">
                <h2 class="section-heading"></h2>
                <hr class="primary">
                <p></p>
            </div>


        <div class="text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
             <div class = "text-center">
                 Copyright © 2020 | THYROID DISEASES & TREATMENTS
             </div>
            </a>

        </div>
    </div>
</section>