<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Anatomy of the Thyroid</h2>

                <p>The thyroid is a gland that has the shape of a butterfly and is located at the front and base of the neck. It is a vital hormone gland and it plays a major role in our metabolism, regulation of body temperature, heart rate, blood pressure, and growth and development of the human body. It does all of this by releasing a steady amount of thyroid hormones into the bloodstream.</p>

                <!--How to make a button: <a href="#" class="btn btn-default btn-xl">Get Started!</a>-->

                <h2 class="section-heading">What are thyroid diseases or disorders?</h2>

                <p>Thyroid diseases are basically any dysfunction occurring in the thyroid gland. Thyroid diseases are common problems that can cause many symptoms like nervousness, fast heart rate, unintentional weight loss, and more. According to https://www.thyroid.org, “An estimated 20 million Americans have some form of thyroid disease and about 60% of those with thyroid disease are unaware of this condition. Women are also more likely to have a thyroid disease.The bad news is that the causes of thyroid problems are largely unknown.</p>

<!--Science-of-the-thyroid Section-->
                 <h2 class="section-heading" id= "Science-of-the-thyroid">Science-of-the-thyroid</h2>
<hr>
  <p> The thyroid uses iodine from the food we eat to produce 2 vital hormones. One of these vital hormones is Thyroxine, also known as T4. It is the primary hormone produced by the gland. After there is a delivery made via the bloodstream to the body's tissues, a small portion of the T4 is released from the gland and is converted to triiodothyronine(T3) which is the most active hormone. It is very important that T3 and T4 levels are neither too high or too low. T3 and T4 regulate your heart rate and how fast your intestines process food.This is why there are two glands in the brain, the hypothalamus and the pituitary, which communicate with the brain to maintain T3 and T4 balance.</p>


<!--Hyperthyroidism Section-->
<h2 class="section-heading" id="Hyperthyroidism">Thyroid Disorders Hyperthyroidism</h2>
<h3> What happens if there is an overproduction of T3 and T4 in your body?</h3>

<p> When you have an overproduction of T3 and T4 in your body it is called hyperthyroidism. In hyperthyroidism,your body will speed up your metabolism, which is why when you first get it, you may feel very energetic, but later on it can break your body down and cause you to feel tired or other unpleasant symptoms According to https://www.webmd.com, common symptoms include
    <li>Nervousness, anxiety, or crankiness</li>
    <li>Mood swings</li>
        <li">Fatigue or weakness</li>
<li>Sensitivity to heat</li>
    <li>A swollen thyroid (called a goiter). You might see swelling at the base of your neck.</li>
    <li>Losing weight suddenly, without trying</li>
    <li>Fast or uneven heartbeat or palpitations (pounding in your heart)</li>
    <li>Having more bowel movements</li>
    <li>Shaking in your hands and fingers (tremor)</li>
    <li>Sleep problems</li></p>


<h3>What causes hyperthyroidism?</h3>

<p>

One of the most common causes of hyperthyroidism is the autoimmune disorder Graves’ disease. With this disease, the body makes an antibody thyroid-stimulating immunoglobulin (TSI) which makes the thyroid gland produce too much thyroid hormone. It can also be caused by a toxic nodular or multinodular goiter. These are lumps or nodules in the thyroid gland that cause hyperthyroidism. Furthermore, thyroiditis also results from a virus or a problem with the immune system and can also cause the person to have symptoms related to hyperthyroidism.

Treatments:
According to https://www.endocrineweb.com, “Antithyroid medications (sometimes written  antithyroid) prevent the thyroid from producing excess amounts of T4 and T3 hormones.”
There are two types of antithyroid medications. These medications are called propylthiouracil (PTU) and methimazole (also known as Tapazole).These 2 medications are made to directly target the thyroid gland and to reduce T4 and T3 hormone production.</p>



<!--Hypothyroidism-->
<h2 class="section-heading" id="Hypothyroidism"> Thyroid Disorders: Hypothyroidism</h2>
<h3>What happens if there is too little of T3 and T4 in your body? </h3>

<p>

When your thyroid gland doesn’t produce enough thyroid hormone, it is called hypothyroidism.
If our thyroid gland does not produce enough thyroid hormone, it can disrupt our metabolism.
Metabolism is how your body’s cell uses energy from food. Our metabolism can affect our heart rate, body temperature, and all aspects of metabolism.
Some symptoms include
<li> Increased sensitivity to cold </li>
<li>  Dry skin</li>
<li> Weight gain</li>
<li> Puffy face</li>
<li>  Hoarseness</li>
<li> Muscle weakness</li>
<li> Elevated blood cholesterol level</li>
<li> Muscle aches, tenderness and stiffness</li>
Pain, stiffness or swelling in your joints</li>
<h3> What causes Hypothyroidism?</h3>
Well some people have an Autoimmune disease. This disease is caused when the immune system protects the body from invading infections, but mistakes thyroid gland cells and their enzymes for invaders and attacks them.
This leads to not enough thyroid cells and enzymes left to make enough thyroid hormones.This is more common in women than in men.
There is also a disease called thyroiditis. Thyroiditis is usually caused by a viral infection or autoimmune attack which causes the thyroid gland to become inflamed.

Treatments:
The treatment for hypothyroidism includes daily use of a medication known as levothyroxine which restores adequate hormone levels. It will then reverse the signs and symptoms of hypothyroidism. However, if a person leaves it untreated , hypothyroidism can lead to several complications like heart problems, nerve injury, infertility, and in some cases death.




<!--Graves' Disease Section-->

<h2 class="section-heading" id="Graves-Disease"> Graves' Disease</h2>


<h4>Overview</h4>
<p>An immune symptom disorder of the butterfly shaped gland in the thyroid.
Overproduction of thyroid-hormone (hyperthyroidism).
Most common in women who are age 50 and below. </p>

<h4>Symptoms</h4>
<li>Anxiety </li>
<li>Weight loss, despite normal eating habits</li>
<li>Enlargement of your thyroid gland (goiter)</li>
<li>Fatigue</li>
<li>li>Bulging eyes (Graves' ophthalmopathy)</li>
<li>About 30% of people with Graves’s disorder show symptoms of Graves' ophthalmopathy. </li>
<li>In Graves’ ophthalmopathy, inflammation and other immune systems affect the muscle and tissues around the eyes. The resulting sign and symptoms may include:</li>
<li>Bulging eyes (exophthalmos)</li>
<li>Gritty sensation in the eyes</li>
<li>Pressure or pain in the eyes</li>
<li>Puffy or retracted eyelids</li>
<li>Reddened or inflamed eyes</li>
<li>Light sensitivity</li>
<li>Double vision</li>
<li>Vision loss</li>


<h4>Treatment</h4>
<p>
Treatment goals aim to inhibit the overproduction of thyroid hormones and lessen the severity of symptoms. Propranolol is a beta blocker that slows the heart rate and decreases the blood pressure. When taken in eye-drop form, it helps reduce eye pressure.
</p>



<!--Goiter's Disease Section-->

<h2 class="section-heading" id="Goiter-Disease"> Goiter's Disease</h2>
<h4>Overview</h4>
<p>Goiters disease is an abnormal (unusual) enlargement of our thyroid gland
Goiters are usually painless. However, since they cause an enlarged thyroid gland , it can cause a cough and make it difficult for us to swallow or even breath.Cause: The most common cause of this disease is the lack of iodine.
What is Iodine? Iodine is a mineral found in foods just like protein, zinc, etc. Iodine is necessary in order to make thyroid hormones which then control the body's metabolism and many other important functions. When women are pregnant, the body especially needs iodine for proper bone and brain development during pregnancy and infancy.
Where iodine is most common, for instance in the U.S, a goiters disease is due to an overuse or overproduction of thyroid hormones in the thyroid gland.</p>
<h4>Symptoms</h4>
<li>Coughing</li>
<li>Trouble swallowing</li>
<li>Trouble breathing</li>
<li>A tight feeling in your throat</li>
<li>An obvious swelling at the base of the neck when applied makeup or shaved.</li>



<h4>Treatment: </h4>
<p>There are certain medications prescribed for when people have an underactive thyroid or overactive thyroid. Antithyroid agents prevent the thyroid gland from making or releasing thyroid hormone. For instance, levothyroxine can help treat hypothyroidism, an enlarged thyroid gland and thyroid cancer.  While thiamazole and propylthiouracil are both medications for hyperthyroidism.</p>





<!--THYROID CANCER SECTION-->
<h2 class="section-heading" id="Thyroid-Cancer"> Thyroid Cancer</h2>


<p>Thyroid cancer can occur more often in women than in men. Being exposed to high levels of radiation can also lead to an increase of risk of developing thyroid cancer. At first, there might not be any symptoms present, but as the tumor grows, eventually it can cause pain and swelling in the neck.

There are several types of thyroid cancer that can exist.

Types of Thyroid Cancer:

Papillary thyroid cancer: This is one of the most common forms of thyroid cancers. It can occur at any age, but most often affects people of ages 30 to 50.
Follicular thyroid cancer: It can affect people of age 50 and above.
Anaplastic thyroid cancer: It is a rare type of thyroid cancer that begins in the follicular cells. It is difficult to trip because the tumor grows rapidly.
Medullary thyroid cancer: Originates from the parafollicular C cells of the thyroid gland. These cells do not make thyroid hormone and instead make a different hormone called calcitonin.
Some types can be really aggressive, while others can grow very slowly. However, most types can be cured with the necessary treatment.


<h4>SYMPTOMS</h4>
As the tumor grows, some symptoms will begin to be present.
A lump can be felt through the skin on the neck
There can be changes to the person’s voice.
Difficulty when swallowing.
Pain in the neck and throat.
<h4>TREATMENT:</h4>
Thankfully, most thyroid cancers can be cured with the necessary and appropriate treatment and the treatment depends on the type and stage of the thyroid cancer you have.
Recommendations:
Your doctor might need to take blood tests and ultrasound exams of your thyroid once or twice per year.
It varies for everyone who is diagnosed with a type of thyroid cancer. For some, the cancer might never grow and never require any type of treatment, but for others the cancer might grow and some type of treatment would be necessary.
</p>
<!--Call-To-Action-->
<h2 class="section-heading" id="Call-To-Action"> Call to Action</h2>

Our thyroid may not be visible to our eye, but it is in fact, a major and vital hormone gland in the human body. We should be more aware of this gland in our body since it's not really taught about it in school.



            </div>

        </div>
</div>
</section>

