<!doctype html>


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thyroid Diseases</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">



    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css" type="text/css">


<!--Not to be uncommented-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Not to be uncommented-->




</head>

<!--TEXT THAT APPEARS IN THE HOME IMAGE-->
 <header id="Home">
     <div class="header-content" id="Home">
        <div class="header-content-inner">
             <h1>Thyroid Diseases and Treatments</h1>
                <hr>
              <p>Our thyroid is an essential gland in our body.</p>
              <p> Read more to find out why</p>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More</a>
         </div>
    </div>
</header>
<!--END OF TEXT THAT APPEARS IN THE HOME IMAGE-->

<body>
<!--START OF NAVBAR-->
            <!--Everything inside the _includes folder is what shows up in the preview of the website-->
            <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                     <!--Brand and toggle get grouped for better mobile display-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="#page-top">Thyroid-Diseases</a>
                    </div>

                     <!--Collect the nav links, forms, and other content for toggling-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item active Heading">

                               <a href="#Home" class="page-scroll">Home</a>
                            </li>
                            <li class="nav-item active Heading">
                                <a href="#Science-of-the-thyroid" class="page-scroll">Science of the Thyroid</a>

                            </li>

                            <li class="nav-item active Heading">

                                  <a href="#Hyperthyroidism" class="page-scroll">Hyperthyroidism</a>
                            </li>
                            <li class="nav-item active Heading">

                                  <a href="#Hypothyroidism" class="page-scroll">Hypothyroidism</a>
                            </li>
                            <li class="nav-item active Heading">
                                <a href="#Graves-Disease" class="page-scroll">Graves' Disease</a>

                            </li>
                            <li class="nav-item active Heading">

                                  <a href="#Goiter-Disease" class="page-scroll">Goiter Disease</a>
                            </li>
                            <li class="nav-item active Heading">

                                  <a href="#Thyroid-Cancer" class="page-scroll">Thyroid Cancer</a>
                            </li>
                             <li class="nav-item active Heading">

                                  <a href="#Call-To-Action" class="page-scroll">Call to Action</a>
                            </li>
                        </ul>
                    </div>
                     <!--/.navbar-collapse-->
                </div>
                 <!--/.container-fluid-->
            </nav>

<!--END OF NAVABR-->
<!--<hr> Creates a white space in between these two sections-->
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">




<!--The OVERVIEW OF THE THYROID-->
            <div class="col-lg-8 col-lg-offset-2 text-center left">

                     <h2><b> <u>Overview</u></b> </h2>
                     <!--<img src="../img/portfolio/thyroid-1.jpg" alt="An Image of the thyroid gland" width="250" height="200">-->


                     <!--<img src="https://sites.georgetown.edu/medicine/wp-content/uploads/sites/63/2019/02/thyrod.jpg" alt="An Image of the thyroid gland" width="250" height="200">-->

                <h3 class="section-heading">Anatomy of the Thyroid</h3>

                <p>The thyroid is a gland that has the shape of a butterfly and is located at the front and base of the neck. It is a vital hormone gland that plays a major role in our metabolism,
                regulation of body temperature, heart rate, blood pressure, and growth and development of the human body. It does all of this by releasing a steady amount of thyroid hormones into the bloodstream.</p>

                <h3 class="section-heading">What are thyroid diseases?</h3>

                <p>Thyroid diseases are basically any dysfunction occurring in the thyroid gland. Thyroid diseases are common problems that can cause many symptoms like nervousness, fast heart rate, unintentional weight loss, and more. The US has an estimate of about 20 million that have some form of thyroid disease and about 60% of those with thyroid disease are unaware of their condition. In addition, women are also more likely to have any dysfunction in the thyroid gland.The bad news is that the causes of thyroid problems are largely unknown.</p>
</div>


<!--PICTURES WITH DIFFERENT TOPICS-->
<hr>



<div class="row">

  <div class="column">
    <a href="#Science-of-the-thyroid" class="page-scroll"> <img src="https://flourishln.com.au/wp-content/uploads/2019/05/thyroid-1505392370.jpg" alt="An Image of the thyroid gland" style="width:100%"></a>
     <!--<a href="#Science-of-the-thyroid" class="page-scroll"> <img src="https://ezra.com/wp-content/uploads/2019/07/iStock-911222624-1260x840.jpg" alt="An Image of the thyroid gland" style="width:100%"></a>-->
  </div>
  <div class="column">
     <a href="#Hyperthyroidism" class="page-scroll"> <img src="https://health.clevelandclinic.org/wp-content/uploads/sites/3/2018/07/GettyImages-842618312.jpg" alt="An Image of the thyroid gland" style="width:95%"></a>
  </div>


  <div class="column">

   <!--<a href="#Hypothyroidism" class="page-scroll"> <img src="https://magazine.medlineplus.gov/images/uploads/main_images/hypothyroidism.jpg" style="width:110%"></a>-->
     <!--style="width:100%"-->

     <a href="#Hypothyroidism" class="page-scroll"> <img src="https://selfhacked.com/app/uploads/2019/11/Thyroid-Hormones-T3-T4-Roles-Functions-High-Low-Levels.jpg" style="width:95%"></a>
     <!--style="width:100%"-->
  </div>

</div>

<div class="row">
  <div class="column">
      <!--<a href="#Graves-Disease" class="page-scroll"> <img src="https://flourishln.com.au/wp-content/uploads/2019/05/thyroid-1505392370.jpg" alt="An Image of the thyroid gland" style="width:96%"></a>-->
        <a href="#Graves-Disease" class="page-scroll"> <img src="https://ezra.com/wp-content/uploads/2019/07/iStock-911222624-1260x840.jpg" alt="An Image of the thyroid gland" style="width:92%"></a>

  </div>

  <div class="column">
    <a href="#Goiter-Disease" class="page-scroll"> <img src="https://www.hellodoctor.co.za/wp-content/uploads/2018/01/shutterstock_503151925.jpg" alt="An Image of the thyroid gland" style="width:100%"></a>
  </div>



<div class="column">

     <a href="#Thyroid-Cancer" class="page-scroll"> <img src="https://www.oncology-central.com/wp-content/uploads/2020/01/Copy-of-thyroid-cancer.jpg" style="width:109%"></a>
  </div>

</div>




</div>
</div>
