<!--                    <header id="Home">-->
<!--                        <div class="header-content" id="Home">-->
<!--                            <div class="header-content-inner">-->
<!--                                <h1>Thyroid Diseases and Treatments</h1>-->
<!--                                <hr>-->
<!--                                <p>Our thyroid is an essential gland in our body.</p>-->
<!--                                <p> Read more to find out why</p>-->
<!--                                <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--</header>-->
