<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            <!--SCIENCE OF THE THYROID-->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Science-of-the-thyroid.jpg" class="img-responsive" alt="Image" width=500 height="550" >
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                                Thyroid Diseases
                            </div>
                            <div class="project-name">
                               Science of the Thyroid
                            </div>
                        </div>
                    </div>
                </a>
            </div>



            <!--HYPERTHYROIDISM-->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Hyperthyroidism.jpg" class="img-responsive" alt="Image" width=400 height="300">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thyroid Diseases
                            </div>
                            <div class="project-name">
                                Hyperthyroidism
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <!--HYPOTHYROIDISM-->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/hypothyroidism.jpg" class="img-responsive" alt="Image" width=400 height="300">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thyroid Diseases
                            </div>
                            <div class="project-name">
                                Hypothyroidism
                            </div>
                        </div>
                    </div>
                </a>
            </div>


              <!--GRAVES'-->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/graves'.jpg" class="img-responsive" alt="Image" width=400 height="300">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thyroid Diseases
                            </div>
                            <div class="project-name">
                               Graves' Disease
                            </div>
                        </div>
                    </div>
                </a>
            </div>


             <!--GOITERS-->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/goiters.jpg" class="img-responsive" alt="Image" width=400 height="300">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thyroid Diseases
                            </div>
                            <div class="project-name">
                                Goiters
                            </div>
                        </div>
                    </div>
                </a>
            </div>

             <!--THYROID CANCER-->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/thyroid-cancer.jpg" class="img-responsive" alt="Image" width=400 height="300">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thyroid Diseases
                            </div>
                            <div class="project-name">
                                Thyroid Cancer
                            </div>
                        </div>
                    </div>
                </a>
            </div>




        </div>
    </div>
</section>

