              <!DOCTYPE html>
              <html lang="en">

              {% include head.html %}

              <body id="page-top">
                <!--{% include nav.html %}-->
                <!--{% include header.html %}-->
                {% include different-topic-cards.html %}
                <!--{% include scripts.html %}-->
                {% include contact.html %}
              </body>

              </html>

                    <!--{% include services.html %}-->

                <!--{% include aside.html %}-->
                <!--{% include contact.html %}-->